{% extends 'index.html' %}
{% load static %}
 {%  block head %}
    <title>Вход</title>
       <link rel="stylesheet" href="{% static 'css/main.css' %}">
     <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}
{% block content %}
    <div class="vhod">
  <h2 class="neonTex">Вход для пользователя</h2>
  <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <table>
          <tr>
              <td>{{ form.username.label_tag }}</td>
               <td>{{ form.username }}</td>
          </tr>
           <tr>
              <td>{{ form.password.label_tag }}</td>
               <td>{{ form.password }}</td>
          </tr>
          <tr>
              <td>
                  <a href="{% url 'password_reset' %}">забыл пороль</a>
              </td>
          </tr>
      </table>
      <input type="submit" value="вход">
  </form>
  <h2>
      <a class="neonTex" href="{% url 'registr' %}">Регистрация</a>
  </h2>
      <i class="neonTex">для нового пользователя</i>
    </div>
{% endblock content %}
{#{{ form }}#}

