{% extends 'index.html' %}
{% load static %}
{%  block head %}
    <title>Регистрация</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/regist.css' %}">
    {% endblock %}
{% block content %}
<div class="fo">
     <h2 class="neonTe">Регистрация</h2>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
        {{ regform }}
        </table>
        <input type="submit" value="отправить">
    </form>
    </div>
{% endblock %}
