body{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: relative;

}
.content{

    /*text-align: right;*/
    width: 500px;
    margin-left: 850px;
    text-align: center;
    background-color: rgba(139, 0, 0, 0.25);
    border-radius: 50px ;

    /*border: 5px solid lawngreen;*/
}
.content h1{
    color: azure;
}
.neonText {
  color: yellow;
  text-shadow:
      0 0 7px deeppink,
      0 0 10px deeppink,
      0 0 21px deeppink,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

h1 {
  animation: flicker 1s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px deeppink,
      0 0 11px deeppink,
      0 0 19px deeppink,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;

  }
   20%, 50%, 75%{
       color: deeppink;
   }

  20%, 44%, 85% {
      text-shadow: none;
  }

}



.container {
  margin-top: 20vh;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: green;
    line-height: 2em;
}
.menu a{
    text-decoration: none;
    color: darkorange;
    font-size: 1.5em;
}
.menu a:hover{
    background-color: yellow;
}
.foto{
    position: absolute;

    margin-left: 550px;
    margin-top: -280px;

    border: 2px solid darkred;
    background-color: rgba(0, 128, 0, 0.34);
}
.foto img{
    margin-left: 50px;

}
h2{
    color: aquamarine;
}
p{
    font-size: 25px;
    color: azure;
}
.ok{
    color: azure;
    text-align: center;
    font-size: 35px;

}
.po{
    text-align: center;
    font-size: 35px;
}
.lo{
  font-size: 25px;
}
ul{
    text-align: center;
    font-size: 25px;
    list-style-type: none;
    color: darkorange;
    display:flex;
    justify-content:space-evenly;

}
/*.kat_film{*/
/*    background-color: rgba(0, 128, 0, 0.68);*/
/*    border-radius: 20px;*/
/*    height: 50px;*/
/*}*/
li a{
    color:aqua;
    text-decoration: none;

}
li a:hover{
    background-color: gold;
    color: crimson;
}
.opis{
    position: absolute;
    margin-left: 500px;
    margin-top: -550px;
    width: 500px;
    font-size: 25px;
    color: burlywood;
}
.st{
    color:gold;
}
.actor_card{
    border: 2px solid darkorange;
    width: 200px;
    background-color: rgba(100, 149, 237, 0.87);
}
.pagination{
    text-align: center;
    background-color: gold;
    font-size: 25px;
}
.katalog{
    text-align: center;
    font-size: 40px;
    color: lawngreen;
    box-shadow: 0 15px blueviolet;
}
.info_actor{
    text-align: center;
    color: darkorange;
    font-size: 25px;
}
.pro_actor{

    border: solid 2px chocolate;
    padding-left: 50px;
    padding-bottom: 30px;

    background-color: rgba(210, 105, 30, 0.34);
}
.pro{
    padding-left: 50px;
    font-size: 30px;
    color: deeppink;
}
.glav{
    text-align: center;
    background-color: rgba(47, 79, 79, 0.54);
}
.glav1{
    text-align: center;
    font-size: 30px;
    color: gold;
    background-color: rgba(47, 79, 79, 0.54);
}
.glav2{
    text-align: center;
    color: yellow;
    font-size: 30px;
    background-color: rgba(47, 79, 79, 0.54);
}
.opis{
    margin-top: 0;
    text-align: center;
    justify-content:space-evenly;
    border: 2px solid blueviolet;
    border-radius: 20px;
    background-color: rgba(0, 128, 0, 0.83);
}
i{
    color: blue;
}
b{
    color: crimson;
}
.regh_ul{
    background-color: rgba(139, 0, 0, 0.33);
}
.regh{
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 20px;
}
.regh:hover{
    background-color: darkred;
    transform:scale(1.3);
}
.reg_der{
    color: chartreuse;
}
.polz{
    background-color: rgba(138, 43, 226, 0.3);
    margin-left: 100px;
    width: 600px;
    text-align: center;
    border-radius: 50px;
}
.polz h1{
    color: azure;
}
.per{
    text-decoration: none;
    font-size: 25px;
    color:darkred;
}
.sled{
    text-decoration: none;
    font-size: 25px;
    color: cornflowerblue;
}
.current{
    color: darkmagenta;
}
.card1{
    /*position: absolute;*/
    text-decoration: none;
    background-color: rgba(255, 255, 0, 0.5);
    color: green;
}
h4{
    color: crimson;
}
.ganry {
    background-color: rgba(0, 255, 255, 0.58);
    display: table;
}
.ganry button{
    background-color: yellow;
    font-size: 15px;
    color: darkgreen;
}
.ganry button:hover{
     transform: rotate(25deg);
}
.ganry h1{
    text-align: center;
    color: darkred;
    background-color: rgba(0, 128, 0, 0.71);
}
.ganry h2{
    color: blue;
}
.video-js{
    position: absolute;
    display: flex;
    margin-top: -530px;
    margin-left: 200px;
}
