.main{
    background-color: aquamarine;
    text-align: center;
    font-size: 30px;
}
.cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
{%load static%}
.card{
    /*background: url('{% static "kino.image" %}');*/
    text-align: center;
    border: 2px solid;
    width: 10%;
    object-fit: contain;
    overflow: hidden;
    background-color: rgba(139, 0, 139, 0.6);
}
.card img{
    background-size: cover;
    width: 100%;
}
h1{
    text-align: center;
    color: azure;
}
.card:hover {
    background-position: left center;
    background-size: 600px;
}
.vs{
    overflow: visible;
    color:chartreuse;
    font-size: 17px;
    /*word-break: break-all;*/
}
.podp{
    background-color: rgba(255, 255, 0, 0.51);
}
