/*body{*/
/*    text-align: center;*/
/*}*/
/*h3{*/
/*    color:lawngreen;*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*}*/
/*.screen{*/
/*    display: flex;*/
/*    background-color: rgba(0, 0, 0, 0.6);*/
/*    text-align: center;*/
/*    justify-content: space-between;*/
/*    font-size: 20px;*/
/*}*/
body{
    text-align: center;

}
.screen{
    width: 500px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: auto;
}
.screen h4{
    color: yellow;
    font-size: 35px;
}
h3{
    font-size: 35px;
     color: darkred;
    background-color: white;
}
h4 a{
    color: white;
    text-decoration: none;
    background-color: darkblue;
}
h4 a:hover{
    background-color: deeppink;
    color: lime;
    transform: skew(25deg);

}
b{
    color: darkblue;
}
h2{
    font-size: 35px;
    color: deeppink;
}