<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  block head %}
    <title>Кино</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>
<body id="bg" style="background-image: url('{% static "/img/kino.jpg" %}');">
     {% block menu %}
       <div class="menu">
           <a href="{% url 'home' %}">Главная</a>
           <a href="{% url 'ganry' %}">О жанрах</a>
           <a href="{% url 'admin:index' %}">Админ</a>
           <a href="{% url 'allkino' %}">О фильмах</a>
           <a href="{% url 'actor' %}">О актерах</a>
           <a href="{% url 'director' %}">О режиссерах</a>
           <a href="{% url 'status' %}">Каталог фильмов</a>
           <a href="{% url 'kuppodpiska' %}">Купить-подписку</a>
           {% if not user.username %}
            <a href="{% url 'login' %}">Войти</a>
           {% else %}
            <a href="{% url 'logout' %}">Выйти</a>
            {% endif %}
       </div>
     {% endblock menu %}
     {% block  sentr %}
         <div class="fotoGlavn">
{#             <img src="{% static 'img/koral.jpg' %}" alt="" width="1400" height="300">#}
         </div>
     {% endblock sentr %}
     {% block content %}
         <div class="content">
         <h1>Привет {{ username }} !</h1>
         <h2>Ты можешь авторизироваться,</h2>
         <h2>Что позволит тебе</h2>
         <h2>Пользоваться всеми услугпми сайта</h2>
             <h1>На сайте:</h1>
             <h2><b>{{ k1 }}</b> фильмов</h2>
{#         <h2>На сайте {{ k2 }} актеров</h2>#}
             <h2>Из них:  <b>{{ k3 }}</b> фильмов <i>бесплатно</i></h2>
         </div>
         <div class="polz">
         <h1>Гость сайта может:</h1>
         <h2>пользоваться всеми контентами сайта</h2>
         <h2>а также смотреть фильмы в бессплатном разделе</h2>
         <h2>Желаем хорошего просмотра. </h2>
         </div>

     {% endblock content %}
</body>
</html>
