<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  block head %}
    <title>Кино</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>
<body id="bg" style="background-image: url('{% static "img/kino.jpg" %}');">

     {% block menu %}

       <div class="menu">
           <a href="{% url 'home' %}">Главная</a>
           <a href="{% url 'ganry' %}">Жанры</a>
           <a href="{% url 'admin:index' %}">Админ</a>
           <a href="{% url 'allkino' %}">Фильмы</a>
           <a href="{% url 'actor' %}">Актеры</a>
           <a href="{% url 'director' %}">Режиссеры</a>
           <a href="{% url 'status' %}">Каталог-фильмов</a>
           <a href="{% url 'kuppodpiska' %}">Купить-подписку</a>
           {% if not user.username %}
            <a href="{% url 'login' %}">Войти</a>
           {% else %}
            <a href="{% url 'logout' %}">Выйти</a>
            {% endif %}
       </div>

     {% endblock menu %}
     {% block  sentr %}
         <div class="fotoGlavn">
{#             <img src="{% static 'img/koral.jpg' %}" alt="" width="1400" height="300">#}
         </div>
     {% endblock sentr %}
     {% block content %}

         <div class="content">
         <h1 class="neonText">Привет {{ username }} !</h1>
         <h2 class="neonText">Ты можешь авторизироваться,</h2>
         <h2 class="neonText">Что позволит тебе</h2>
         <h2 class="neonText">Пользоваться всеми услугпми сайта</h2>
             <h1 class="neonText">На сайте:</h1>
             <h2 class="neonText"><b>{{ k1 }}</b> фильмов</h2>
         <h2>На сайте {{ k2 }} актеров</h2>
             <h2 class="neonText">Из них:  <b>{{ k3 }}</b> фильмов <i>бесплатно</i></h2>
         </div>

         <div class="polz">
         <h1 class="neonText">Гость сайта может:</h1>
         <h2 class="neonText">пользоваться всеми контентами сайта</h2>
         <h2 class="neonText">а также смотреть фильмы в бессплатном разделе</h2>
         <h2  class="neonText">Желаем хорошего просмотра. </h2>
         </div>
         <div class="video-js">
             <video width="500" height="280" autoplay loop controls="controls" muted src="{% static "video/imxotep-ubiystvennaya-pescanaya-burya-scena-7-10-mumiya-1999-hd_(VIDEOMIN.NET).mp4" %}">

             </video>
         </div>

     {% endblock content %}
</body>
</html>
