{% extends 'index.html' %}

{% block content %}

    <h2 class="glav1">Фильм: <b>{{ kino.title }}</b></h2>
     <h2 class="glav">Режисер: {{ kino.director }}</h2>
     <h2 class="glav">Рейтинг: {{ kino.ager }}</h2>
     <h2 class="glav2">Уровень подписки: <i>{{ kino.status }}</i></h2>
     <h2 class="glav">Актеры: {{ kino.display_actors }}</h2>
    <h2 class="opis"><i>Описание:</i>  {{ kino.summary }}</h2>
{#     {% for actor in kino.actor.all %}#}
{#        <p>{{ actor.fname }} // {{ actor.lname }}</p>#}
{#     {% endfor %}#}
{% endblock %}
