{% extends 'index.html' %}
{% block content %}

    <h2 class="katalog">Каталог фильмов</h2>
    <ul class="regh_ul">{% for kino in kino_list %}
         <li  class="regh">
{#         <a href="{% url 'info' id=kino.id %}">{{ kino.title }}</a>#}
             <a href="{{ kino.get_absolute_url }}"><p class="lo">{{ kino.genre }}---{{ kino.title }}</p></a>
{#         <p>{{ kino.genre }}</p>#}
         </li>
        {% endfor %}
    </ul>
{%  if is_paginated %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="per" href="?page=1">&laquo; первая</a>
                <a class="sled" href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a class="sled" href="?page={{ page_obj.next_page_number }}">следующая</a>
                <a class="per" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

{% endblock content %}