{% extends 'index.html' %}

{% block content %}

     <h2>Наш пациент: {{ vet_clinic.animal_card.nickname }}</h2>
     <h2>Порода: {{ vet_clinic.animal_card.breed }}</h2>
     <h2>Возраст: {{ vet_clinic.animal_card.age }} (года,лет)</h2>
     <h2>Рос: {{ vet_clinic.animal_card.height }} см.</h2>
     <h2>Вес: {{ vet_clinic.animal_card.weight }} кг.</h2>
     <h2>К какому врачу:  {{ vet_clinic.status.prof }}
         -- {{ vet_clinic.display_doctors }}</h2>
     <h2>Услуга: {{ vet_clinic.services }}</h2>
     <h2>Запись на: {{ vet_clinic.data }}</h2>
{% endblock %}
